<h1>Order</h1>
<form id="order-ajax-form" action="order" method="POST" style="padding-left:50px">
  Order Name: <input type="text" name="name"/><br/><br/>
  {{#each ingredient}}
  <input type="checkbox" name="ingredientname" value={{this._id}}>{{this.name}}<br>
  {{/each}}
  <input type="submit" value="Add" style="margin-left:100px">
</form>
<h1>Orders List:</h1>

<div id="orderlist">
	<form class="order" id="hidden" method="POST" style="border:2px solid #999;display:none">
			<br>
			<p style="position:absolute">Order Name: Order
			<br>
			Total Price: $50</p>
			<input style="float:right;position:relative" type="button" class="edit" value="Edit">
			<br>
			<br>
	</form>
	{{#each order}}
		<form class="order" id={{this._id}} method="POST" style="border:2px solid #999">
			<br>
			<p style="position:absolute">Order Name: {{this.name}}
			<br>
			Order Price: ${{this.price}}</p>
			<input style="float:right;position:relative" type="button" class="edit" value="Edit">
			<br>
			<br>
		</form>
	{{/each}}
</div>